{% load static %}
<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <title>FastAPI-AWS-Django-GCP</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
  </head>
  <body>
    <h1>FastAPI-AWS-Django-GCP</h1>
    <p>A demo project comprising:
        <ul>
            <li>A FastAPI app hosted on AWS, using API Gateway, Lambda and DynamoDB.</li>
            <li>A Django app hosted on GCP, using Cloud Run and Redis.</li>
        </ul>
    </p>
    <h2><a href="{{ swagger_url }}">FastAPI Swagger UI</a></h2>
    <h2><a href="https://github.com/e-mit/FastAPI-AWS-Django-GCP">View the code on GitHub</a></h2>
    <form action="" method="post">
        {% csrf_token %}
        <p>Post a message</p>
        {{ PostMessageForm.as_p }}
        <button type="submit">Submit</button>
        <input type="reset" value="Clear">
    </form>
    <button onClick="window.location.href=window.location.href">Check for new messages</button>
    {% for message in message_list %}
        <p><a href="{% url 'app:message_detail' message.id %}">{{ message.subject }}</a>
        <div>By {{ message.name }} at {{ message.timestamp }}</div>
        </p>
    {% endfor %}
  </body>
</html>
