{% extends "app/base.html" %}
{% load static %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<script src="{% static 'app/scripts.js' %}"></script>
<title>{{ site_name }}</title>
{% endblock %}

{% block body %}
    <h1>{{ site_name }}</h1>
    <p>A demo project comprising:</p>
    <ul>
        <li>A FastAPI app hosted on AWS, using API Gateway, Lambda and DynamoDB.</li>
        <li>A Django app hosted on GCP, using Cloud Run and Redis.</li>
    </ul>
    <h5><a href="{{ swagger_url }}">FastAPI Swagger UI</a></h5>
    <h5><a href="https://github.com/e-mit/{{ site_name }}">View the code on GitHub</a></h5>
    <form action="" method="post">
        {% csrf_token %}
        <h4>Post a message</h4>
        {% for field in PostMessageForm %}
            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
        {% endfor %}
        <div id="button-box">
            <button type="submit">Submit</button>
            <input type="reset" value="Clear">
        </div>
    </form>
    <h4>Recent messages ({{ TIME_ZONE }} timezone)</h4>
    <button onClick="window.location.reload()">Check for new messages</button>
    {% for message in message_list %}
        <div class="message-box" id="{{ message.id }}"><a href="{% url 'app:message_detail' message.id %}">{{ message.subject }}</a>
        <div class="details-box">
            <span>By {{ message.name }} at {{ message.timestamp | time:"H:i:s" }} on {{ message.timestamp | date:"Y-m-d" }}</span>
            &nbsp;&nbsp;
            <span class="delete-box" onclick="deleteMessage('{{ message.id }}')">{% include 'app/icon-remove.svg' %}</span>
        </div>
        <div class="error"></div>
        </div>
    {% endfor %}

{% endblock %}
