{% extends "app/base.html" %}

{% block head %}
<title>Message details</title>
{% endblock %}

{% block body %}
    <h1>Message details</h1>
    <table>
        <tr>
            <th>Subject</th>
            <td>{{ message.subject }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ message.name }}</td>
        </tr>
        <tr>
            <th>Time and date</th>
            <td>{{ message.timestamp | time:"H:i:s" }} on {{ message.timestamp | date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ message.text }}</td>
        </tr>
    </table>

    <button onclick="location.href='/';">Home</button>

{% endblock %}
