{% load static %}
<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Message details</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
  </head>
  <body>
    <h1>Message details</h1>
    <table>
        <tr>
            <th>Subject</th>
            <td>{{ message.subject }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ message.name }}</td>
        </tr>
        <tr>
            <th>Time and date</th>
            <td>{{ message.timestamp | time:"H:i:s" }} on {{ message.timestamp | date:"Y-m-d" }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ message.text }}</td>
        </tr>
    </table>

    <button onclick="location.href='/';">Home</button>

    <footer>
        <a href="https://github.com/e-mit/{{ site_name }}">View the source code on GitHub</a>
        <p>&copy; 2024</p>
    </footer>
  </body>
</html>
