{% load static %}
<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Message details</title>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
  </head>
  <body>
    <ul>
        <li>Subject: {{ message.subject }}</li>
        <li>By {{ message.name }} at {{ message.timestamp | time:"H:i:s" }} on {{ message.timestamp | date:"Y-m-d" }}</li>
        <li>{{ message.text }}</li>
    </ul>

    <footer>
        <a href="https://github.com/e-mit/{{ site_name }}">View the source code on GitHub</a>
        <p>&copy; 2024</p>
    </footer>
  </body>
</html>
